body{
background-image:url('https://static.vecteezy.com/system/resources/previews/006/524/345/original/online-mobile-store-landing-page-template-design-vector.jpg');
/* opacity:0.5 */
justify-content:center;
margin-bottom:12px;
margin-left:15%;
margin-right:10%;

}