<!doctype html>
<html lang="en">
  <head>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-expand-sm bg-transparent">
      <!-- <a class="navbar-brand" href="{%url 'uhome'%}">
        <img src="{{request.user.users.propic.url}}" style="width:100px;height:80px;" class="rounded-circle" alt="">
      </a> -->
      <ul class="navbar-nav">
        
        <li class="nav-item"><a href="{% url 'home'%}" class="nav-link btn btn-outline-dark ml-3">Home</a></li>
        <li class="nav-item"><a href="{% url 'logout'%}" class="nav-link btn btn-outline-dark ml-3">LogOut</a></li>
        <li class="nav-item"><a href="" class="nav-link btn btn-outline-dark ml-3">Feedback</a></li>
        <li class="nav-item"><a href="{% url 'viewcart' %}" class="nav-link btn btn-outline-dark ml-3">My Cart</a></li>
      </ul>
    </nav>
    {%block userhome%}

      <h1 class="bg-transparent display-4 text-center text-dark">User Home</h1>

      {% if messages %}
        {% for msg in messages %}
          {% if msg.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
        <div class="alert alert-success alert-dismissible">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <strong>{{msg}}</strong>
        </div>
      {%endif%}
      {% if msg.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
        <div class="alert alert-danger alert-dismissible">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <strong>{{msg}}</strong>
        </div>
      {%endif%}
    {% endfor %}
  {% endif %}

      <p><b> WELCOME</b> : <b>{{request.user.first_name}} {{request.user.last_name}}</b></p>

      <h2 class="bg-transparent text-dark text-center">Products</h2><br><br>
      <div class="row">
        
          
        {%for i in product%}
          <div class="card-bg-transparent" style="width:450px">
            <img class="card-img-top" width="175" height="490" src="{{i.select_image.url}}" alt="product-images">
            <div class="card-body-bg-transparent">
              <h4 class="card-title"><b>Product Name</b> : {{i.product_name}}</h4>
              <p class="text"><b>Product ID</b> : {{i.id}}</p>
              <p class="text"><b>Product Type</b> : {{i.product_type}}</p>
              <div class="card-content"><b>Details</b> : {{i.short_description}}</div>
              <div class="card-footer"><b>Price</b> : {{i.price}}</div>
              <p>
                <a href="" class="btn btn-success">Buy Now</a>
                <a href="{% url 'cart' i.id %}" class="btn btn-warning">Add to Cart</a>
              </p>
            </div> 
          </div> 
        {%endfor%}
    
      {%endblock userhome%}

      <style>
        body{
          background: rgb(225, 169, 86);
      background: radial-gradient(circle, rgba(232, 197, 99, 0.848) 0%, rgb(233, 222, 148) 100%);
          
      }
      </style>
  </body>
</html>